@{
    Departamento? departamento = ViewData["DEPASELECCIONADO"] as Departamento;
}

<h1>Paginacion Empleados Departamento</h1>

@if(departamento != null)
{    
<ul class="list-group">
    <li class="list-group-item list-group-item-success">
        Id Departamento: @departamento.IdDepartamento
    </li>
    <li class="list-group-item list-group-item-success">
        Nombre: @departamento.Nombre
    </li>
    <li class="list-group-item list-group-item-success">
        Localidad: @departamento.Localidad
    </li>
</ul>
}


<hr />
<div id="empleados-partial">
    
</div>
<hr />



@section scripts {
    <script>
        $(document).ready(function () {
            cargarEmpleados(@ViewData["POSICION"]);
        });
        function cargarEmpleados(posicion) {
            var idDepartamento = @ViewData["DEPARTAMENTO"];

            $.ajax({
                url: '@Url.Action("EmpleadoDetailsPartial", "Paginacion")',
                type: 'GET',
                data: { posicion: posicion, iddepartamento: idDepartamento },
                success: function (result) {
                    $('#empleados-partial').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
}