@model List<Empleado>

@{
    ViewData["Title"] = "PaginarGrupoEmpleados";
}

@{
    int numeroRegistros = (int)ViewData["REGISTROS"];
    int numeroPagina = 1;
}

<h1 style="color:blue">Paginar Grupo Empleados</h1>

<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numeroRegistros; i += 3)
    {
        <li class="list-group-item list-group-item-danger">
            <a asp-controller="Paginacion" asp-action="PaginarGrupoEmpleados" asp-route-posicion="@i">
                @numeroPagina
            </a>
        </li>
        numeroPagina += 1;
    }
</ul>

<table class="table table-bordered table-warning">
    <thead>
        <tr>
            <th>ID</th>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>IDDepartamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEmpleado</td>
                <td>@item.Apellido</td>
                <td>@item.Oficio</td>
                <td>@item.Salario</td>
                <td>@item.IdDepartamento</td>
            </tr>
        }
    </tbody>
</table>